/HW2code.X/build/
/HW2code.X/dist/
/HW3.X/build/
/HW3.X/dist/
HW2code.X/nbproject/configurations.xml
HW2code.X/nbproject/Makefile-default.mk
HW2code.X/nbproject/Makefile-genesis.properties
HW3.X/.generated_files/flags/default/4e23d2a60a78fe947c701445deae29d5fd8f146b
HW3.X/.generated_files/flags/default/887ead1a94c894dda683a5c3dd9fd7f65e203153
HW3.X/.generated_files/flags/default/a728197a461a6f426f5621a1d572abf7a5037a7e
HW3.X/.generated_files/flags/default/af049b27c23163fa08ecd496d4b41e12db9c54da
HW3.X/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
HW3.X/Makefile
HW3.X/nbproject/configurations.xml
HW3.X/nbproject/Makefile-default.mk
HW3.X/nbproject/Makefile-genesis.properties
HW3.X/nbproject/Makefile-impl.mk
HW3.X/nbproject/Makefile-local-default.mk
HW3.X/nbproject/Makefile-variables.mk
HW3.X/nbproject/private/configurations.xml
HW3.X/nbproject/private/private.xml
HW3.X/nbproject/project.xml
HW3.X/NU32DIPbootloaded.ld
/HW5.X/build/
/HW5.X/dist/
/HW6.X/build/
/HW6.X/dist/
/HW7.X/build/
/HW7.X/dist/
/HW8.X/dist/
/HW8.X/build/
/HW10.X/build/
/HW10.X/dist/
/HW13.X/build/
/HW13.X/dist/